body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 140vh;
  background-color: #FFFDFD;
}

@media  (max-width: 415px) {

  body {
    width: fit-content;
  }
  
}